:root {
  --bg: rgb(21, 22, 31);
  --bg-lighter: rgb(29, 30, 36);
  --bg-light: rgb(80, 82, 92);
  --fg: rgb(219, 219, 240);
  --fg-darker: rgb(211, 211, 230);
  --fg-dark: rgb(186, 186, 212);
  --fg-darkest: rgb(173, 173, 196);

  --color-red: rgb(247, 118, 142);
  --color-green: rgb(115, 218, 202);
  --color-yellow: rgb(224, 175, 104);
  --color-blue: rgb(122, 162, 247);
  --color-purple: rgb(187, 154, 247);
  --color-cyan: rgb(125, 207, 255);
  --color-cyan-darker: rgb(113, 189, 233);
}

/* 
Breakpoints:
    --sm: 576;
    --md: 768;
    --lg: 992;
    --xl: 1200;
*/

/* html {
  scroll-behavior: smooth;
} */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: var(--fg);
}

svg {
  fill: var(--fg);
  position: relative;
}

.opener {
  position: fixed;
  top: 15vh;
  left: 0;
  width: 100vw;
  height: 85vh;
  /* background-color: var(--fg); */
  transition: transform 1200ms ease, opacity 800ms ease,
    background-color 800ms ease, top 800ms ease;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}

.opener.open-project {
  visibility: visible;
  opacity: 1;
  top: 0;
  background-color: var(--bg);
  transform: scale(2);
}

#start.open-project *:not(.opener) {
  animation: fadeOut 800ms ease;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
