.container {
  --nav-padding-x: 10%;
  --nav-padding-y: 3rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
  overflow: hidden;
}

@media (max-width: 576px) {
  .container {
    padding-top: 2rem;
    --nav-padding-y: 1.5rem
  }
}


@media (max-width: 992px) {
  .container {
    --nav-padding-x: 5%; 
  }
}

.full-page {
  min-height: 100vh;
}

.content {
  align-self: center;
  flex-grow: 1;
  width: 100%;
}

.container * {
  animation: slideUp 500ms ease;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}