.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
  overflow: hidden;
}

.fullPage {
  min-height: 100vh;
}

.content {
  align-self: center;
  flex-grow: 1;
  width: 100%;
}

.container * {
  animation: slideUp 500ms ease;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}