.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 3rem auto;
}

.title button {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.title button {
  color: inherit;
  text-decoration: none;
}

.title button:hover {
  cursor: pointer;
}

.links-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: "Noto Sans";
  text-transform: uppercase;
  transition: transform 300ms ease;
  z-index: 99;
}

.links-list > li {
  font-weight: 100;
  margin-inline: 0.4rem;
}

@media (min-width: 992px) {
  .links-list > li:last-child {
    margin-right: 0;
  }
}

.links-list > li > a {
  transition: color 300ms ease;
  text-decoration: none;
  color: inherit;
}

.links-list > li > a:hover {
  text-decoration: none;
  color: var(--color-purple);
}

.hamburger {
  background-color: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
  display: none;
  transition: transform 200ms ease;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:focus {
  border: none;
}

.hamburger * {
  width: 100%;
  height: 100%;
}

.show {
  transform: translateX(0) !important;
}

.close-menu {
  display: none;
  position: fixed;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  top: 3rem;
  right: 2.1rem;
}

.close-menu:hover {
  cursor: pointer;
}

.close-menu * {
  width: 100%;
  height: 100%;
}

.move-right {
  transform: translateX(0.5rem);
}

@media (max-width: 992px) {
  .close-menu {
    display: block;
  }

  .navbar {
    width: 90%;
  }

  .hamburger {
    display: block;
  }

  .links-list {
    transform: translateX(100%);
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 40vw;
    padding-top: 7rem;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .links-list > li {
    width: max-content;
    margin: 0.5rem auto;
  }

  @supports (backdrop-filter: none) {
    .links-list {
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(15px);
    }
  }
}

@media (max-width: 576px) {
  .links-list {
    width: 100vw;
  }
}
