.container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--fg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.title {
  font-size: 4rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 3rem 0;
  color: var(--bg);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: max-content;
  width: 98%;
  grid-gap: 1rem;
  margin-inline: auto;
}

.projects-grid > div {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: var(--bg);
}

.projects-grid > div {
  opacity: 0;
}

.slide-delay-1 {
  animation-delay: 100ms;
}

.slide-delay-2 {
  animation-delay: 300ms;
}

.slide {
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 400ms;
  animation-timing-function: ease;
  visibility: visible !important;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.65);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}