@tailwind base;
@tailwind components;
@tailwind utilities;

#start.open-project :not(#start) {
  animation: fadeOut 800ms ease;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
